.frame {
  border-radius: 5%;
  background-color: black;
  width: 20.938rem;
  height: 380px;
  margin: auto;
  margin-top: 50px;
  padding-top: 20px;
}
.InputOutput {
  height: 50px;
  width: 14.688rem;
  text-align: right;
  padding: 20px;
  border: none;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}
.keys {
  color: black;
}
.allkeys {
  list-style: none;
  padding: 0;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 3.125rem);
  grid-template-rows: repeat(4, 3.125rem);
  gap: 10px;
  width: 14.688rem;
  margin: auto;
}
.key {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}
.clearKey {
  margin-left: 240px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
